{erl_opts, [debug_info]}.
{deps, []}.

{port_env, [{".*", "CFLAGS", "$CFLAGS -Wall -O2"}, {"ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lei"}]}.
{port_specs, [{"priv/b64fast.so", ["c_src/*.c"]}]}.

{plugins, [pc]}.

{provider_hooks,
    [{pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.
